body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

.form-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.btn {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
  color: #666;
}

p a {
  color: #007BFF;
  text-decoration: none;
  font-weight: 500;
}

p a:hover {
  text-decoration: underline;
}

/* Navbar */
.navbar {
  background-color: #007BFF;
  overflow: hidden;
  padding: 10px 20px;
}

.navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #0056b3;
  color: white;
}

/* Container */
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 40px;
}

/* Profile Container */
.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 100px); /* Adjust height considering header height */
  margin-top: 100px; /* Adjust for header height */
}

.profile-card {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Table Styles */
.table-container {
  width: 100%;
  overflow-x: auto;
}

table.full-width {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.full-width th, table.full-width td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}

table.full-width th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table.full-width tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Header */
header {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 4px 6px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  height: 100px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  position: absolute;
  left: 20px;
}

.logo img {
  height: 60px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 0;
  height: 100%;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  height: 100%;
}

.nav-links a i {
  margin-right: 8px;
}

.nav-links a:hover {
  color: #0056b3;
}

.profile-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 40px auto;
}

.profile-container h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.table-container {
  width: 100%;
  margin-top: 200px;
  overflow-x: auto;
}

table.full-width {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table.full-width th, table.full-width td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 16px;
}

table.full-width th {
  background-color: #f4f4f4;
  font-weight: bold;
}

table.full-width tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  display: flex;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.login-form-container, .promo-container {
  padding: 40px;
}

.login-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 24px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.btn {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 100%;
  margin-top: 15px;
}

.btn:hover {
  background-color: #0056b3;
}

p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

p a {
  color: #007BFF;
  text-decoration: none;
  font-weight: 500;
}

p a:hover {
  text-decoration: underline;
}

.promo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 40px;
  text-align: center;
}

.promo-image {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.promo-content h3 {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}

.promo-content p {
  font-size: 16px;
  color: #666;
}

.logo-link {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.logo-image {
  max-width: 100px;
  cursor: pointer;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.register_user-container {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  margin: 20px;
  text-align: center;
}

.logo-link {
  display: inline-block;
  margin-bottom: 20px;
}

.form-logo {
  width: 100px;
}

form {
  display: flex;
  flex-direction: column;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.form-group input:focus {
  border-color: #007BFF;
  outline: none;
}

.btn {
  background-color: #007BFF;
  color: #ffffff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

p {
  margin-top: 15px;
  font-size: 14px;
  color: #666;
}

p a {
  color: #007BFF;
  text-decoration: none;
  font-weight: 500;
}

p a:hover {
  text-decoration: underline;
}

.verification-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
}

.verification-container h1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.verification-container p {
  font-size: 18px;
  color: #666;
}

.verification-container a {
  color: #007BFF;
  text-decoration: none;
}

.verification-container a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Style for the email verification container */
.email_verification-container {
  width: 100%;
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #fff;
  text-align: center;
}

/* Style for the input fields and buttons */
.email_verification-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.email_verification-container .btn {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.email_verification-container .btn:hover {
  background-color: #0056b3;
}

/* Style for the back button */
.email_verification-container .back-btn {
  display: block;
  margin: 20px 0;
  padding: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
}

.email_verification-container .back-btn:hover {
  background-color: #5a6268;
}

/* Style for the links */
.email_verification-container a {
  color: #007bff;
  text-decoration: none;
}

.email_verification-container a:hover {
  text-decoration: underline;
}

/* Style for the headings and paragraphs */
.email_verification-container h1 {
  margin-bottom: 20px;
  font-size: 24px;
}

.email_verification-container p {
  margin-bottom: 20px;
}
